<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testng sections">
  <test name="Google Test Cases">
    <classes>
      <class name="com.test.TestngFeatures"/>
      <class name="com.test.GoogleTest"/>
      <class name="com.test.GoogleTitleTest"/>
      <class name="com.test.TestngBasics"/>
      <class name="com.test.InvocationCountTest"/>
      <class name="com.test.ExceptionTimeOutTest"/>
    </classes>
  </test> 
</suite> 